<article class="blurb blurb--wide">
	<div class="tag">
		<span class="tag__heading"><a href="">UCL News</a></span>
	</div>
	<img alt="Example image" src="http://lorempixum.com/680/400/abstract/?r" class="blurb__img">
	<div class="blurb__body">
		<h2 class="blurb__title"><a href="article.html">Bentham’s personal correspondence to be digitised for first time</a>
		</h2>
		<p>Thousands of letters revealing a far more personal side of the British philosopher Jeremy Bentham and his family are set to be digitised as part of the UCL Transcribe Bentham project, uniting the entire collection of Bentham’s manuscripts for the first time since his death.</p>
	</div>
</article>
