<nav class="menu-block">
	<ul class="menu-block__list">
		<li class="menu-block__item">
			<a href="/prospective-students/graduate/research/degrees/" class="menu-block__item menu-block__item--heading menu-block__link strong is-current">Parent <small class="text-muted">Explanation</small></a>
			<ul class="menu-block__list">
				<li class="menu-block__item"><a href="" class="menu-block__link is-active">Active Child</a></li>
				<li class="menu-block__item"><a href="" class="menu-block__link">Child</a></li>
				<li class="menu-block__item"><a href="" class="menu-block__link">Child</a></li>
				<li class="menu-block__item"><a href="" class="menu-block__link">Child</a></li>
			</ul>
		</li>
	</ul>
</nav>
