<div class="tabbed">
	<ul class="tabbed__list clearfix">
		<li class="tabbed__item"><a href="#tab-1" class="tabbed__link">Tab one</a>
		</li>
		<li class="tabbed__item"><a href="#tab-2" class="tabbed__link">Tab two</a>
		</li>
		<li class="tabbed__item"><a href="#tab-3" class="tabbed__link">Tab three</a>
		</li>
	</ul>
	<div id="tab-1" class="tabbed__content">
		<h3>Tab 1</h3>
		<p>Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Curabitur enim. Nullam id ligula in nisl tincidunt feugiat. Curabitur eu magna porttitor ligula bibendum rhoncus. Etiam dignissim. Duis lobortis porta risus. Quisque velit metus, dignissim in, rhoncus at, congue quis, mi. Praesent vel lorem. Suspendisse ut dolor at justo tristique dapibus. Morbi erat mi, rutrum a, aliquam nec</p>
	</div>
	<div id="tab-2" class="tabbed__content">
		<h3>Tab 2</h3>
		<p>Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Curabitur enim. Nullam id ligula in nisl tincidunt feugiat. Curabitur eu magna porttitor ligula bibendum rhoncus. Etiam dignissim. Duis lobortis porta risus. Quisque velit metus, dignissim in, rhoncus at, congue quis, mi. Praesent vel lorem. Suspendisse ut dolor at justo tristique dapibus. Morbi erat mi, rutrum a, aliquam nec</p>
	</div>
	<div id="tab-3" class="tabbed__content">
		<h3>Tab 3</h3>
		<p>Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Curabitur enim. Nullam id ligula in nisl tincidunt feugiat. Curabitur eu magna porttitor ligula content__mainbibendum rhoncus. Etiam dignissim. Duis lobortis porta risus. Quisque velit metus, dignissim in, rhoncus at, congue quis, mi. Praesent vel lorem. Suspendisse ut dolor at justo tristique dapibus. Morbi erat mi, rutrum a, aliquam nec, mattis semper, leo. Maecenas blandit risus vitae quam. Vivamus ut odio.</p>
	</div>
</div>
