{% comment %}
From https://gist.github.com/kasperisager/9416313
{% endcomment %}
{% for entry in entries %}
    {% capture apparent %}{{entry.url | remove: 'index.html'}}{% endcapture %}
    {% capture leaf    %}{{ apparent | split: "/"   | last }}{% endcapture %}
    {% capture folder %}{{ apparent | remove: leaf | remove: "//" }}{% endcapture %}
    {% if folder == "/" and include.context == "" and apparent != "/" and site.navtop %}
    {% unless entry.nolink %}<a href="{{ site.baseurl }}{{ apparent }}">{{ entry.title }}</a>{% endunless %}
    {% endif %}
    {% if folder == include.context %}
        <li class="{% if page.url contains folder %}active{%else%}inactive{% endif %}">
          {% unless entry.nolink %}<a href="{{ site.baseurl }}{{ apparent }}">{{ entry.title }}</a>
          {% else %}{{entry.title}}
          {% endunless %}
          {% unless apparent contains ".html" %}
          <ul>
            {% include navigation.html context=apparent %}
           </ul>
           {% endunless %}
        </li>
    {% endif %}
{% endfor %}
